In [6]:
#download dataset using kaggle api
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to D:\NSS (Data Analyst)\Python\scripts

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 1.64MB/s]
100%|##########| 200k/200k [00:00<00:00, 1.63MB/s]

In [8]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall() 
zip_ref.close()

In [12]:
#read data from the file and handle null values
import pandas as pd
df = pd.read_csv('orders.csv', na_values = ['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [21]:
#rename columns to be lower case and replace space with underscore
df.columns = df.columns.str.lower().str.replace(' ', '_')

AttributeError: 'Index' object has no attribute 'replace'

In [24]:
#discount column
df['discount']=df['list_price']*df['discount_percent']*.01

In [28]:
#sale price column
df['sale_price']=df['list_price']-df['discount']

In [31]:
#profit column
df['profit']=df['sale_price']-df['cost_price']

In [38]:
#convert order_date to datetime
import datetime
df['order_date']=pd.to_datetime(df['order_date'], format = '%Y-%m-%d')

In [65]:
import sqlalchemy as sal

In [67]:
engine = sal.create_engine('postgresql://postgres:postgres@localhost:5432/retail')

In [68]:
try: 
    df.to_sql('info', engine, if_exists = 'replace', index = False)
    print('DataFrame success')
except Exception as e:
    print("Error:", e)

DataFrame success